.filterbar__body {
  max-width: 563px;
  width: 100%;
  padding: 80px 0;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    letter-spacing: 0;
    color: #391400A3;
    cursor: pointer;
    font-weight: 400;

    &.filterbar__active {
      letter-spacing: 0;
      color: #16CD53;
    }
  }

  @media (max-width: 1040px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.filterbar__select {
  max-width: 90%;
  width: 100%;

  select {
    padding: 13px 0 13px 16px;
    max-width: 100%;
    width: 100%;
    height: 48px;
    color: #391400A3;
    border: 1px solid #F3D1BF;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;

    option {
      width: 10px;
    }
  }
}