.header__body {
  width: 100%;
  background: #28293E;
  min-height: 400px;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 16px 135px;
  @media (max-width: 747px) {
    width: 100%;
    padding: 16px;
  }

  h1 {
    margin-top: 90px;
    font-size: 72px;
    text-align: center;
    letter-spacing: -2px;
    color: #FFFFFF;
    @media (max-width: 580px) {
      font-size: 50px;
    }
  }

  p {
    align-self: center;
    max-width: 570px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin-top: 34px;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFFA3;
  }
}

.header__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1040px) {
    justify-content: center;
  }

  ul {
    padding: 0 20px;
    max-width: 522px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    list-style: none;

    li {
      cursor: pointer;
      font-weight: 400;
    }
  }
}

.header__contact {
  padding: 14px 39px;
  border: 1px solid #FFFFFF4B;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}
