.load__body {
  margin: 80px 0 180px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 14px 46px;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 3px 9px #39140014;
    border-radius: 6px;
    cursor: pointer;
  }
}